@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

html,body,div,h1,h2,h3,h4,h5,h6,p,pre,form,blockquote,fieldset,input {margin: 0px; padding: 0px;}
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,strong,th {font-weight: normal; font-style: normal;}
fieldset,img {border: none;}

/* @end */

/* ============================== @group LAYOUT ============================== */

body {background: #ffffff;}

img.alignleft {float: left;	margin: 2px 20px 18px 0;} /* Class for image aligned left with margin */
img.alignright {float: right; margin: 2px 0 18px 20px;} /* Class for image aligned right with margin */

/* Contains large images that might be larger than the content area that have been inserted by the client and prevents overlap */

#contentWrap img, #contentWrap table, #contentRight table, #contentRight img {max-width: 100%!important;}

hr {
	border: 0px;
	width: 100%;
	color: #303030;
	background-color: #303030;
	height: 1px;
	line-height: 1px;
	margin: 25px 0px;
	padding: 0px;
	clear: both;
}

.clear {
	clear: both;
	height: 0px;
	line-height: 0.0;
	font-size: 0px;
}
.no-margin {margin:0!important;}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.btn {
	background-color: #303030;
	padding: 10px 20px;
	border-radius: 0;
	text-transform: uppercase;
	color: #fff!important;
	letter-spacing: .2em;
	border: none;
	font-family: 'proxima-nova', sans-serif;
}

.btn:hover {
	background-color: #848484;
}

/* ============================== Background Video ============================== */

div#videoTop {
  position: fixed !important;
  bottom: 0px;
  right: 0px;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  z-index: 1!important;
  overflow: hidden;
}
video#videoBG {
  position: fixed;
  bottom: 0px;
  right: 0px;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  z-index: 2!important;
  overflow: hidden;
}
div.page-wrap {
  z-index: 3!important;
}

/* @end Group Layout */

/* ============================== @group TYPE ============================== */

body, p, div, ul, li, td {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	line-height: 25px;
	color: #303030;
}

strong, b {font-weight: bold;}

p {margin-bottom: 18px;}

a:link, a:visited, a:active {
	color: #303030;
	text-decoration: none;
}

a:hover {
}

a:focus {outline: none;} /* Removes a outline in Firefox  */

h1 {
	font-family: 'Prata', serif;
	font-size: 20px;
	line-height: 25px;
	color: #303030;
	margin-bottom: 18px;
	text-transform: uppercase;
	font-style: italic;
	letter-spacing: .1em;
	border-bottom: 4px double #303030;
	padding: 0px 0px 20px 0px;
}

#home-window h2 {
	color: #fff;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	font-weight: 400;
	letter-spacing: .2em;
	text-transform: uppercase;
	line-height: 24px;
	color: #303030;
	margin-bottom: 18px;
}

h2.home {
	font-size: 24px;
	font-weight: 400;
	letter-spacing: .2em;
	text-transform: uppercase;
	color: #303030;
	text-align: center;
}

h3 {
	font-size: 14px;
	font-family: 'Prata', serif;
	color: #333333;
}

h4 {
	font-size: 18px;
	line-height: 18px;
	color: #333333;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 18px;
}

h5 {
	font-size: 14px;
	line-height: 14px;
	color: #666666;
	font-weight:bold;
	margin-bottom: 18px;
}

h6 {
	font-size: 11px;
	line-height: 11px;
	color: #333333;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 18px;
}

/* @end Type Styling */

/* ============================== Repeating Elements ============================== */

.doubleborder {
	height: 5px;
	width: 100%;
	border-top: 1px solid #303030;
	border-bottom: 1px solid #303030;
	margin-bottom: 35px;
}

/* @end Repeating Elements */

/* ============================== Sidebar ============================== */

.page-wrap {
  float: left;
  width: 100%;
  transition: all 0.5s ease;
  position: relative;
  left: 0;
}
.page-wrap.open {
  left: 275px;
}
.sidebar-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  color: #fff;
  height: 100%;
  z-index: 9999;
  background: #202020;
  overflow-y: auto;
  transition: all 0.5s ease;
}
.sidebar-left {
	float: left;
	width: 75%;
}

.sidebar-left a {
	color: #fff;
	display: block;
}

.sidebar-left h4 {
	font-family: "Raleway",sans-serif;
	font-weight: 100;
	letter-spacing: .1em;
}

.sidebar-left a:hover {
	color: #8b8b8b!important;
}

.sidebar-right {
	float: right;
	width: 25%;
	text-align: right;
}
.sidebar-content img {
  margin: 0px 0 40px 0px;
}
.sidebar-content.open {
  width: 275px;
  padding: 20px;
}
.container.open {
  width: 1170px;
}
#remove-sidebar {
	color: #fff;
	cursor: pointer;
}

.menuBtn p {
	position: fixed;
	z-index: 999999;
	font-size: 10px;
	font-family: "Raleway", sans-serif;
	top: 58px;
	left: -58px;
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}

/* @end Sidebar */

/* ============================== @group SEARCH */ /* Uses image-driven field and button styles ==============================  */

.searchPanel {
	margin: 0px;
	padding: 0px;
	float: right;
	font-family: 'Raleway', sans-serif;
	font-size: 11px;
}

#productsearchfield {
	width: 250px;
	height: 27px;
	margin: 0px;
	background: #ffffff;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;
	color: #a1a1a1;
	padding: 2px 0 0 10px;
	border-left: 1px solid #a1a1a1;
	border-top: 1px solid #a1a1a1;
	border-bottom: 1px solid #a1a1a1;
	border-right: 0px;
	outline: none;
	display: inline-block;
}

#productsearchbutton {
	width: 24px;
	height: 27px;
	margin: -5px;
	padding: 0px;
	background: #ffffff url(/SiteFiles/1550/Images/search.jpg) no-repeat;
	background-position: center;
	border-right: 1px solid #a1a1a1;
	border-top: 1px solid #a1a1a1;
	border-bottom: 1px solid #a1a1a1;
	border-left: 0px;
	text-indent: -9999px;
	outline: none;
	cursor: pointer;
	display: inline-block;
	position:relative;
	top: -1px;
}

#ctl00_cphPageBody_tbSearch {
	height: 36px;
	padding: 0px 10px;
}

#ctl00_cphPageBody_btnSearchProducts {
	background-color: #303030;
	padding: 10px 20px;
	border-radius: 0;
	text-transform: uppercase;
	color: #fff!important;
	letter-spacing: .2em;
	-webkit-appearance: none;
	border: none;
}

/* @end SeachField */


/* ============================== Header ============================== */

#header {
	position:fixed;
	top: 0;
	width: 100%;
	margin: 0 auto;
	z-index: 9500;
	background-color: #ffffff;
			-webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.35);
		-moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.35);
	box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.35);

}

/* @end Header */

/* ============================== Utility ============================== */

.utility-nav {
	text-align: left!important;
}

.utility-social {
	text-align: right;
}

#headerUtility {
	width: 100%;
	text-align:right;
	/*margin: 20px 0;*/
  margin-top:5px;

}

#headerUtility ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	display: inline;
}

#headerUtility ul li {
	font-family: 'Raleway', sans-serif;
	font-size: 11px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

#headerUtility ul li a {
	color: #303030;
	text-decoration: none;
}

#headerUtility ul li a:hover {
	color: #8b8b8b;
	text-decoration: none;
}

#headerUtility ul li.mainSocial {
	margin-right: 5px;
	opacity: .6;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

#headerUtility ul li.mainSocial:hover {
	opacity: 1.0;
}

#headerUtility ul li a img	{
	vertical-align: center;
}

#headerUtility ul li.language {
	background: url(/SiteFiles/1550/Images/language_tri@2x.png) no-repeat;
	background-size: 5px 4px;
	background-position: right center;
	padding-right: 10px;
}

/* ==============Language Drop Down=============== */

/* ----- Level 2 List ----- */

#headerUtility ul li.language ul {
	display: none;
	position: absolute;
	width: 92px;
	background-color: #fff;
	z-index: 6000;
	margin-left: -10px;
	text-align: left;
}

/* ----- Level 2+ List Item ----- */

#headerUtility ul li > ul li {
	clear: both;
	width: 100%;
	display: block;
	/*white-space: nowrap;*/
	position: relative;
}


/* ----- Level 2+ List Item Link ----- */

#headerUtility ul > li > ul > li a {
	display: block;
	color: #303030;
	padding: 0px 10px;
	width: 200px\9;
}

#headerUtility ul > li > ul > li a:hover {
	color: #303030;
	background-color: #f1f1f1;
	background-repeat: no-repeat;
	text-decoration: none;
}

/* ----- Level 2 Trigger ----- */
#headerUtility ul > li:hover > ul {
	display: block;
}

/* End Utility */

/* ============================== Main Nav ============================== */

.navbar {
	margin-bottom: 15px;
}


.navbar-toggle {
	position: relative;
	float: right;
	margin-right: 15px;
	padding: 9px 10px;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 0;
}

.navbar-toggle:hover {
	background: #fff;
}

.navbar-default {
	background-color: #ffffff;
	border: 0;
}

#mainnav, #mainnav ul {
	padding: 0px;
	list-style: None;
	float: right;
	text-align: center;
	margin-top: 30px;
}

/* ----- Default for all LI's ----- */
#mainnav li {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: inline-block;
	z-index: 999;
	font-size: 18px;
	text-align: center;
}

/* ----- Remove margin-right from last element ----- */
#mainnav ul li#mn-blog {
	margin-right: 0;
}

/* Defaults for all links */

#mainnav a	{
	display: block;
	text-decoration: none;
	font-size: 12px;
	font-family: "Raleway";
	letter-spacing: 1px;
	text-transform: uppercase;
}

/* ----- Level 1 List Item ----- */
#mainnav > li {
	float: left;
	position: relative;
	margin-right: 30px;
}
/* ----- Level 1 List Item Link----- */
#mainnav > li > a {
	color: #303030;
	position: relative;
	z-index: 5000;
}

#mainnav > li > a.current, #mainnav > li > a:hover {
	font-weight: 600;
}

#mainnav > li:last-child {
	margin-right: 0px!important;
}

#mainnav > li:last-child > a {
	border-right: none;
}

#mainnav > li > a:hover, #mainnav > li:hover > a, #mainnav > li > a.current {
	
}

#mainnav > li > a:hover:after, #mainnav > li:hover > a:after		{
	content:"";
	position:absolute;
	bottom: -14px; /* value = - border-top-width - border-bottom-width */
    display:block;
    width: 100%;
    height: 10px;
    background-image: url(/SiteFiles/1550/Images/nav_tri.png);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    z-index: 4500;
    	}


/* ----- Level 2 List ----- */

#mainnav > li ul {
	display: none;
	position: absolute;
	width: 160px;
	background-color: #303030;
	opacity: 0.9;
	z-index: 4000;
	margin-top: 0px;
	margin-left: -30px;
	text-align: center;
	border-top: #fff 14px solid;
}

/* ----- Level 2+ List Item ----- */

#mainnav > li > ul li {
	clear: both;
	width: 100%;
	display: block;
	/*white-space: nowrap;*/
	position: relative;
}


/* ----- Level 2+ List Item Link ----- */

#mainnav > li > ul > li a {
	display: block;
	color: #ffffff;
	margin: 0px!important;
	padding: 10px 16px 10px 16px;
	width: 200px\9;
}

#mainnav > li > ul > li a:hover {
	background-color: #121212;
	background-repeat: no-repeat;
	text-decoration: none;
}

/* ----- Level 2 Trigger ----- */
#mainnav > li:hover > ul {
	display: block;
}

/* ----- Hide level2nav ----- */
ul#level2nav {
	display: none;
}

/* End Main Nav */

/* ============================== Banner Rotator ============================== */

#home-top {
	margin-top: 125px;
	background-color: #fff;
}

#home-top .scrollable .items {
	width: 100%!important;
}

#home-top .scrollable .item img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.scrollable .item {
	height: auto!important;
	width: 100%!important;
}

/* End Main Nav */

/* ============================== Home Main ============================== */

#home-main {
	padding: 75px 0;
	background-color: #fff;
	margin-top: -5px;
}

/* End Home Main */

/* ============================== Upcoming Events Widget ============================== */

div.upcoming-events-wrapper	{
	width: 100%;
	margin: 50px 0;
}

div.upcoming-events-wrapper ul	{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;

}

div.upcoming-events-wrapper ul li	{
	border-right: 1px solid #a1a1a1;
	display: inline-block;
	max-height: 50px;
	margin-bottom: 5%;
	padding: 0 30px;
}

div.upcoming-events-wrapper ul li:last-child	{
	border-right: 0px;
}

div.upcoming-events-wrapper p {
	margin: 0;
}

.widget-alternate-item {
	border:0;
}

p.upcoming-events-view-link {
	clear: both;
	text-align: center;
	color: #8b8b8b;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
}

p.upcoming-events-view-link a {
	clear: both;
	text-align: center;
	color: #8b8b8b;
	text-decoration: none;
}

p.upcoming-events-view-link a:hover {
	color: #303030;
}

p.upcoming-events-date {
	color: #8b8b8b;
	text-align: center;
	font-size: 12px !important;
	font-weight: 400;
	letter-spacing: 1px;
}

span.upcoming-events-date {
	font-size: 14px !important;
}

p.upcoming-events-name {
	text-align: center;
	margin-bottom: 0px;
}

p.upcoming-events-name a {
	color: #303030;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1px;
	text-decoration: none;
}

p.upcoming-events-name a:hover {
	color: #8b8b8b;
}

.trunk-show-2 {
	border-right: 1px solid #8b8b8b;
	border-left: 1px solid #8b8b8b;
}

/* End Upcoming Events Widget */

/* ============================== Home Window ============================== */

#home-window {
	background: transparent;
	background-attachment: fixed;
	padding: 20% 0;
	text-align: center;
}

/* End Upcoming Events Widget */

/* ============================== Blog Widget ============================== */

#home-bottom {
	width: 100%;
	padding: 50px 0;
	background: url(/SiteFiles/1550/Images/blog_bg.jpg) repeat;
	border-top: 1px solid #a5a5a5;
}

.recent-blog-posts-wrapper ul li{
	position: relative;
}

.recent-blog-posts-wrapper ul li .recent-blog-posts-date-wrapper {
	position: absolute;
	display: block;
	width: 75px;
	height: 80px;
	padding: 11px 0;
	margin: 10px;
	border: 0;
	background-color: rgba(0,0,0,.8);
	top: 0px;
	left: 0px;
	z-index: 9000;
	color: #FFFFFF;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
}

.recent-blog-posts-wrapper ul li .recent-blog-posts-date-wrapper .recent-blog-posts-date-separator, .recent-blog-posts-wrapper ul li .recent-blog-posts-date-wrapper .recent-blog-posts-year {
	display: none;
}

.recent-blog-posts-wrapper ul li .recent-blog-posts-date-wrapper .recent-blog-posts-date, .recent-blog-posts-wrapper ul li .recent-blog-posts-date-wrapper .recent-blog-posts-month {
	font-size: 30px;
	letter-spacing: 2px;
	font-weight: 400;
	line-height: 100%;
	position: relative;
	display: block;
}

.recent-blog-posts-wrapper img {
	width: 100%;
	height: auto;
}

.recent-blog-posts-wrapper ul {
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
}

.recent-blog-posts-wrapper li {
	display: inline-block;
	margin-right: 0;
	float: left;
	padding: 10px;
}

.recent-blog-posts-title {
	background-color: #fff;
	color: #303030;
	font-family: 'Prata', serif;
	font-size: 16px;
	letter-spacing: 1px;
	padding: 45px 0px;
	text-decoration: none;
	display: block;
}

.recent-blog-posts-title a:hover {
	color: #a1a1a1;
}

/* End Blog Widget */

/* ============================== Email Signup Styling ============================== */

.newsletter {
	width: 100%;
	font-size: 14px;
	line-height: 25px;
	letter-spacing: .1em;
	background: url(/SiteFiles/1550/Images/newsletter_bg.jpg) repeat;
	border-top: 1px solid #a5a5a5;
	padding: 50px 0;
}
.signupPanel {
	width: 100%;
}

#signupField {
 	width: 69%;
	height: 45px;
	border-radius: 0;
	border: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 500px;
	color: #a1a1a1;
	font-size: 14px;
	padding: 0 0 0 10px;
	margin: 0;
 }

#signupButton {
	width: 30%;
	height: 45px;
	border: 0;
	border-radius: 0;
	margin-top: -1px;
	margin-left: -5px;
	background-color: #303030;
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: .2em;
	-webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
}

#signupButton:hover {
	background-color: #ffffff;
	color: #303030;
}

.modal-backdrop {
	display: none;
}

/* End Email Signup */

/* ============================== Login Modal ============================== */

/* Mask for background, by default is not display */
#mask {
    display: none!important;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 999;
}

/* You can customize to your needs  */
.login-popup {
    display: none;
    width: 484px;
    height: 238px;
    background: #ffffff;
    padding: 10px;
    border: 8px solid #b6b6b6;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
}

img.btn_close {
    Position the close button
	float: right;
    margin: -28px -28px 0 0;
}

#bridelogin {
	background: url(/SiteFiles/1550/Images/bride_login.jpg) no-repeat;
	background-position: 50% 25%;
	margin-top: 50px;
	padding-top: 100px;
	width: 50%;
	float: left;
	text-align: center;
	border-right: 1px solid #303030;
	font-weight: 400;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#retailerlogin {
	background: url(/SiteFiles/1550/Images/retailer_login.jpg) no-repeat;
	background-position: 50% 25%;
	margin-top: 30px;
	padding-top: 100px;
	width: 50%;
	float: left;
	text-align: center;
	font-weight: 400;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/* End Login Modal */

/* ============================== Email Modal Styles ============================== */

.modal {

}

.modal-dialog {
	margin: 15% auto 0px auto;
}

.modal-title {
	letter-spacing: .1em;
}

.modal-body {
	height: 400px;
}

#list-signup-wrapper h1 {
	display: none;
}

input#ctl00_cphPageBody_tbEmailAddress {
	width: 100%;
	padding:10px;
	-webkit-appearance: none;
}

.modal-footer {
	border: none;
}

/* End Email Modal */

/* ============================== Default Styles ============================== */

#default-main {
	/*padding: 75px 0; */
	margin-top: 125px;
}

div.photogallery img {
	width: 100%;
	height: auto;
}

/* Collection Window*/

#collection-window {
	padding: 20% 0;
	text-align: center;
}

#collection-window h1 {
	color: #fff!important;
	font-family: 'Raleway', sans-serif;
	font-size: 36px;
	font-style: normal;
	letter-spacing: .2em;
	margin-bottom: 30px;
	border-bottom: none!important;
}

/* End Default Styles */

/* ============================== Side Menu ============================== */

#subnav-wrapper p,
#subnav-wrapper h2,
#subnav-wrapper h2 a {
	visibility: hidden;
}

#contentLeft h2 a, #contentRight h2 {
	font-size: 12px;
	font-weight: 500;
	color: #303030;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .1em;
}

#contentLeft h2 a:hover {
	font-weight: 600;
}

#subnav {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

#subnav li {
	padding: 0px;
	margin: 0;
	width: 300px;
	background: none;
}

#subnav a {
	font-size: 12px;
	font-weight: 500;
	color: #303030;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .1em;
	display: block;
}

#subnav a:hover {
	display: block;
	font-weight: 600;
}

#subnav a.current {
	display: block;
}

#ctl00_cphSideMenu_swSiblingMenu_pnlSideMenu p, #ctl00_cphSideMenu_swSiblingMenu_pnlSideMenu h2 {
	display: none;
}


/* End Side Menu */

/* ======================= Locator Map Styling ======================= */

.places-app-search {
  text-align: center;
  padding: 10px 0;
}
.places-app-search select {
  padding: 10px 40px 10px 10px;
  background: url('/SiteFiles/2143/CSS/images/drop_arrow.png') no-repeat 95% 50%;
  border-radius: 0;
}
.places-app-search-zip {
  height: 42px;
  border: 1px solid #8b8b8b;
  padding: 15px;
}
.places-app-search input,
.places-app-search select {
  margin: 10px;
  border: 1px solid #8b8b8b;
  border-radius: 0;
  -webkit-appearance: none!important;
}
a.places-app-search-clear {
  color: #8b8b8b;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .15em;
  padding: 12px;
  border: none!important;
}
.places-app-search-button {
  max-width: 100px;
  background-color: #000;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .15em;
  text-align: center;
  color: #fff;
  padding: 12px;
  border-radius: 0;
  border: 0;
}
.places-app-search-button:hover,
a.places-app-search-clear:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #fff;
}
.places-app-map-canvas {
  width: 100%!important;
  height: 400px!important;
}

ul.places-app-category-list {
	text-align: center!important;
}

li.places-app-category-item {
	background: none!important;
	list-style-type: none!important;
	display: inline!important;
	margin-right: 20px!important;
}

.places-app-location-list .row {
	margin-bottom: 50px;
}

.places-app-location-list li span {
  display: block;
}
.places-app-location-item {
  padding: 15px;
  list-style-type: none;
}
.places-app-location-featured {
  background-color: #f1f1f1;
}

.places-app-location-featured h4 {
	letter-spacing: .2em;
	font-weight: 400!important;
}

.places-app-location-name {
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 400;
  letter-spacing: .1em;
}

.places-app-location-featured span {
	font-weight: 700;
}

.places-app-location-directions {
  font-family: 'proxima-nova', sans-serif;
  font-weight: 400;
  font-size: 12px;
  font-weight: 700;
  color: #000;
}
.places-app-location-directions:hover {
  color: #8b8b8b;
}

/* end Locator Map */

/* ============================== Calendar Styling ============================== */

ul.sw-events-detail-timeframes {
	margin: 20px 0;
	padding: 0;
}

ul.sw-events-detail-categories	{
	display: none;
}

ul.sw-events-detail-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.sw-events-detail-list li {
	padding: 30px 0;
	border-bottom: 1px solid #303030;
}

ul.sw-events-detail-categories li, ul.sw-events-detail-timeframes li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	border: medium none;
	display: inline;
	overflow: hidden;
}

h2.sw-events-detail-list-event-subject {
	font-size: 18px;
}

a.sw-events-detail-more-link {
	font-weight: 700;
}

ul.sw-events-detail-categories li a, ul.sw-events-detail-timeframes li a {
	background: #303030;
	font-size: 12px;
	letter-spacing: 2px;
	color: #fff;
	margin: 5px;
	padding: 10px 15px;
	line-height: 45px;
	text-decoration: none;
	text-transform: uppercase;
}

ul.sw-events-detail-categories li a:hover, ul.sw-events-detail-timeframes li a:hover {
	background: #E0E0E0;
	color: #333;
	}

/* end Calendar Styling */

/* ============================== Blog ============================== */

.blogTags {
	margin-bottom: 20px;
}

ul#subnav.archives li {
	margin-bottom: 0px!important;
}

ul#subnav .tags li {
	color: #a1a1a1;
	margin-bottom: 5px;
}

.blogTags a {
	background-color: #303030;
	padding: 10px 20px;
	border-radius: 0;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 500;
	color: #fff!important;
	letter-spacing: .2em;
}

body.blog-archive .blog .blog-entry {
	border-bottom: 0px!important;
}

.blog-entry {
	padding-bottom: 30px;
	border-bottom: 1px solid #303030;
	margin-bottom: 30px;
}

.blog .post-date {
	font-family: 'Prata', serif;
	font-size: 12px;
	color: #a1a1a1;
	text-transform: none;
	margin-bottom: 5px;
}

.blog .post-title a, .blog .post-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 1px;
	color: #303030;
	text-decoration: none
}

body.blog-archive .blog .post-title a, .blog .post-title {
	height: 50px!important;
}

.blog .post-title a:hover {
	color: #a1a1a1;
}

.blog .post-image {
	margin-bottom: 15px;
}

body.blog-archive .blog .post-image img {
	width: 100%!important;
}

body.blog-archive .blog .post-image {
	margin-bottom: 0px!important;
}

.blog .post-profileinfo {
	background-color: #f1f1f1;
	padding: 15px;
	letter-spacing: 1px;
}

.blog a {
	color: #a1a1a1;
	text-decoration: none;
	letter-spacing: 1px;
}

.blog a:hover {
	color: #303030;
}

.blog .post-tags {
	background-color: #f1f1f1;
	padding: 0px 15px 0px 15px;
	letter-spacing: 1px;
}

.blog .post-addthis {
	background-color: #f1f1f1;
	padding: 0px 15px 15px 15px;
}

/* Hides First Image */
.blog .post-image:first-of-type {
	display: none;
}

#tbCommentButton {
	padding: 15px;
	color: #fff;
	font-size: 12px;
	background: #303030;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	border: none;
}

.blog-archive-content .post-image:first-of-type {
	display: block;
}

.blog-archive-content .post-body {
	display: none;
}

.blog img {
	padding: 5px;
}

.remove-padding {
	padding: 0px;
}

.remove-padding-top {
		padding-top: 0px;
	}

.remove-padding-right {
		padding-right: 0px;
	}

.remove-padding-bottom {
		padding-bottom: 0px;
	}

.remove-padding-left {
		padding-left: 0px;
	}

/* end Blog */

/* ============================== Store ============================== */

.store-tag-list {
	padding-left: 5px!important;
}

li#sn-tagcat-172 {
	display: none;
}

li#sn-tagcat-132 {
	margin-bottom: 20px;
}

/*#subnav > li > ul.store-tag-list > li {
	margin-bottom: 5px!important;
}*/

ul.product-list {
  margin: 20px 0px 20px 0px;
  list-style-type: none;
  padding: 0px;
}

/* Override global */
.product-list-item {
  height: auto;
  margin-bottom: 25px;
  float: left;
  margin-right: 0px;
}

.product-list-item-image a {
  display: block;
  position: relative;
}

.product-list-item-image a img {
  border: solid 1px #efefef;
  width: 100%;
  height: auto;
}

h4.product-list-item-name {
  margin: 10px 0px 5px 0px;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
}

h4.product-list-item-name a {
  color: #000;
  text-decoration: none;
}

h4.product-list-item-name a:hover {
  color: #8b8b8b;
}

/* MENS TUXES */
body.men .product-list-item-image {
	position: relative;
}
body.men .product-list-item-image img {
	width: 100%;
	border: none;
}
body.men .action {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: rgba(0,0,0,0.5);
	padding: 10px 15px;
}
body.men .action > a {
	float: right;
	height: 30px;
	width: 30px;
	display: inline-block;
	border-radius: 5px;
	padding: 3px;
	background: #ffffff;
	text-align: center;
}

.product-list-search,
.product-list-sort,
.product-list-item-price,
#product-detail-price {
  display: none;
}

#product-detail-description {
  font-family: 'Proxima Nova' sans-serif;
}

#product-detail-photos {
  text-align: center;
  width: 50%!important;
  float: left;
}

#product-detail-main-image a img {
	width: 100%;
	height: auto;
}

.product-detail-thumbnail {
	width: 25%;
  padding-right: 10px;
}
.product-detail-thumbnail img {
  margin: 10px 10px 0 0;
  padding: 0;
  float: left;
  border: none;
  width: 100%;
}

#product-detail-information-container {
  margin: 0 0 20px 0;
  float: left!important;
  width: 50%!important;
  padding: 0 0 0 5%;
}

#product-detail-related-products {
  margin-top: 50px;
  padding-top: 50px;
  border-top: 1px solid #303030;
}

#product-detail-related-products > .product-list > .product-list-item {
	margin-right: 20px;
	width: auto;
	text-align: left;
}

#product-detail-related-products .product-list-item-image,
#product-detail-related-products .product-list-item-image img {
  width: 184px;
  height: auto;
  position: relative;
}

div.action {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: rgba(0,0,0,0.5);
    padding: 10px 15px;
}
div.action > a {
    float: right;
    height: 30px;
    width: 30px;
    display: inline-block;
    border-radius: 5px;
    padding: 3px;
    background: #ffffff;
    text-align: center;
}
div.action > a > img {
    width: 100% !important;
    height: 100% !important;
    border: 0;
}
.product-list-item-name {
  margin: 10px 0;
  text-align: left;
}

#product-detail-related-products h4 {
  text-transform: none;
  font-size: 14px;
  font-weight: 400;
}
#product-detail-related-products ul.product-list .row:nth-of-type(2) {
  padding: 40px 40px 0px;
  background: #ecf2f2;
}
#product-detail-related-products ul.product-list .row h3 {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 20px;
}


td.product-detail-details-label {
  padding-left: 0px;
  font-weight: bold;
  width: 130px;
  vertical-align: top;
  padding-bottom: 5px;
}

td.product-detail-details-value {
  vertical-align: top;
}

div.quickcart {
  margin-top: 12px;
}

div.product-detail {
  padding-top: 20px;
}

.product-list-controls {
  clear: both;
}

.product-list-controls-itemcount {
  float: right;
}

.product-list-controls-pagecount {
  float: left;
}

/* Product Detail Page Buttons*/
#add-to-cart-options {
  margin-top: 0;
  text-align: left;
}

#ctl00_cphPageBody_pnlAddToCart {
  display: none;
}

#product-detail-overview a {
  height: 45px;
  line-height: 45px;
  border: 0;
  border-radius: 0;
  padding: 0 15px;
  margin: 0;
  background-color: #000;
  color: #ffffff;
  font-size: 12px;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .15em;
  display: block;
  text-align: center;
}
#product-detail-overview a:hover {
  background-color: #fff;
  color: #000;
  font-weight: 700;
}


#product-detail-overview p {
	margin: 0;
}
#ctl00_cphPageBody_btnAddToWishList {
  height: 45px;
  border: 0;
  border-radius: 0;
  padding: 0 15px;
  margin: 0 20px 0 0;
  background-color: #ccc;
  color: #000;
  font-size: 12px;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .15em;
  display: inline-block;
}

a.product-detail-send-link {
  border: 0;
  float: none;
  padding: 10px 15px;
  background-color: #ccc;
  color: #000;
  font-size: 12px;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .15em;
  display: inline-block;
  margin: 0;
  text-decoration: none;
}

#ctl00_cphPageBody_btnAddToWishList:hover,
a.product-detail-send-link:hover {
  background-color: #fff;
  color: #000;
  font-weight: 700;
}

/* Store Pager Styling */
.product-title {
  position: relative;
  display: block;
  float: left;
  font-family: 'Prata', serif;
  font-size: 20px;
  line-height: 25px;
  color: #303030;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 1px;
}

.products-pager {
  position: relative;
  display: block;
  width: 100%;
  text-align: right;
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
}

.previous-product {
  margin-right: 60px;
}

/* Add This Custom Styling */
.at4-icon.aticon-facebook, .at4-icon.aticon-twitter, .at4-icon.aticon-pinterest_share {
	background-color: transparent!important;
	background-image: none!important;
}

div.post-addthis {
	margin-top: 0px;
	padding-top: 10px!important;
}

div.addthis_toolbox {
  padding: 0px;
  display: inline-block;
  text-align: left!important;
}
.addthis_default_style .at300b,
.addthis_default_style .at300bo,
.addthis_default_style .at300m {
  padding: 0px!important;
}
.at16nc.at16t_pinterest_share,
.at16nc.at16t_twitter,
.at16nc.at16t_facebook {
  background-image: none;
}
.addthis_default_style .addthis_separator,
.addthis_default_style .at300b,
.addthis_default_style .at300bo,
.addthis_default_style .at300m,
.addthis_default_style .at300bs {
  float: none!important;
}
.post-addthis .at16t_print {
  display: none!important;
  visibility: hidden!important;
}
a.addthis_button_compact.at300m,
span.addthis_separator,
.addthis_toolbox > div {
  display: none!important;
  visibility: hidden!important;
}
a.addthis_button_facebook,
a.addthis_button_twitter,
a.addthis_button_pinterest_share {
  background-repeat: no-repeat;
  background-color: #fff;
  border: none;
  display: block;
  width: 21px;
  text-align: left;
  height: 21px;
}
a.addthis_button_facebook.at300b {
  background: url(/SiteFiles/2143/Images/share_fb@2x.png) no-repeat;
  float: left!important;
  background-size: 16px 16px;
  margin: 0px 10px 0px 0px;
}
a.addthis_button_facebook.at300b span.socialLabel {
  display: block;
  text-align: left;
  padding: 0px 0px 0px 40px;
}
a.addthis_button_twitter.at300b {
  background: url(/SiteFiles/2143/Images/share_twitter@2x.png) no-repeat;
  float: left!important;
  background-size: 16px 16px;
  margin: 0px 10px 0px 0px;
}
a.addthis_button_twitter.at300b span.socialLabel {
  display: block;
  text-align: left;
  padding: 0px 0px 0px 40px;
}
a.addthis_button_pinterest_share.at300b {
  background: url(/SiteFiles/2143/Images/share_pinterest@2x.png) no-repeat;
  float: left!important;
  background-size: 16px 16px;
  margin: 0px!important;
}
a.addthis_button_pinterest_share.at300b span.socialLabel {
  display: block;
  text-align: left!important;
  padding: 0px 0px 0px 40px;
}
#btnFriendsSubmit,
#btnFriendCancel,
#ctl00_cphPageBody_btnLogin,
#ctl00_cphPageBody_btnFinalize {
  background: #303030;
  padding: 10px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
  margin-right: 15px;
}
ul.product-detail-send-form {
  padding: 0px;
}
/* Store only styling */
body.store #default-page-content {
  padding-left: 15px;
}
body.store #add-to-cart-options br {
  display: none;
}

/* ============================== Footer ============================== */

footer {
	background-color: #303030;
	width: 100%;
	padding: 50px 0px;
	text-align: center;
}

.footer-logos {
	text-align: center;
	margin-bottom: 50px;
}

hr.footer {
	width: 100%;
	height: 1px;
	background-color: #808080!important;
}

footer p {
	color: #808080!important;
	font-size: 12px;
	letter-spacing: .1em;
}

footer a {
	color: #808080!important;
	text-decoration: none;
}

footer a:hover {
	color: #ffffff!important;
}


#footerbottom ul {
	list-style: none;
	text-align: center;
}

#footerbottom ul li {
	display: inline;
	font-size: 12px;
	letter-spacing: .1em;
	margin: 0 10px;
}

#footerbottom .footerLeft {
	margin-right: 50px;
}

#footerbottom .footerright {
	margin-left: 50px;
}

.footerNav {
	padding-left: 0;
}

.footerNav li {
	display: inline;
	margin-right: 2%;
}

.footerNav li a {
	color: #808080!important;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
}

.footerNav li a:hover {
	color: #fff;
}

/* End Footer */

/* ======================================= Form Styling ======================================= */

input[type="checkbox"], input[type="radio"] {
	box-shadow: none!important;
	display: inline;
	float: left;
	width: 34px;
	height: 34px;
	margin: 0;
}

label {
	display: inline-block;
	margin: 5px 0px;
	font-weight: 700;
}

.places-app-v2-wrapper input[type="checkbox"],.mn-wheretobuy  input[type="radio"] {
	box-shadow: none!important;
	display: inline;
	float: none;
	width: 15px;
	height: auto;
	margin: 0;
}

.places-app-v2-wrapper label {
	display: inline-block;
	margin: 5px 0px;
	font-weight: 700;
}

/* ======================================= MEDIA QUERIES ======================================= */

@media screen and (max-width: 1199px) {
	#mainnav li {
		margin-right: 10px;
	}

	#productsearchfield {
		width: 200px;
	}

	#ctl00_cphPageBody_btnAddToWishList {
		display: block;
		width: 100%;
		float: none;
		margin: 0 0 20px 0;
	}

	a.product-detail-send-link {
		display: block;
		width: 100%;
		float: none;
		text-align: center;
		margin: 0;
	}

 	div.post-addthis {
 		margin-top: 10px;
 	}
}

@media screen and (max-width: 991px) {
	ul.mainmenu > li > a {
		letter-spacing: 0px!important;
	}
	#mainnav li a {
		font-size: 11px;
	}
}

@media screen and (max-width: 768px) {

	#home-main {
		padding: 25px 0;
	}

	#home-window {
		background: url('/assets/1550/home_window_bg.jpg') no-repeat center center;
		min-height: 300px;
		background-size: cover!important;
		background-attachment: scroll!important;
		padding: 20% 0;
		text-align: center;
	}

	div.upcoming-events-wrapper ul li {
		border-right: none!important;
	}

	.modal {
		top: 20%;
		left: 9%;
	}

}

@media screen and (max-width: 767px) {

	.mainSocial, .tel, .utility-social li:last-child {
		float:left;
	}

	.utility-social li:last-child {
		margin-left:10px;
	}

	video {
		display: none;
	}

	body.mn-products video {
		display: block!important;
	}

	/*Mobile Nav Drop Downs */

	ul#mainnav li a.expand-btn {
		display: block!important;
	}

	.navbar-collapse {
		position: absolute;
		width: 100%;
		z-index: 99999;
	}

	ul#mainnav {
		width: 100%;
		left: 0;
		height: auto;
		margin: -10px 0 10px 0;
		background: #fff;
	}

	ul#mainnav.active {
		display: block;
	}

	ul#mainnav li {
	position: relative;
	display: block;
	float: none;
	clear: both;
	width: 100%;
	text-align: left;
	margin: 0 auto;
	padding: 10px;
	background-image: none;
	min-height: 0;
	border-bottom: 1px solid #eee;
	}

	ul#mainnav li a {
		position: relative;
		display: block;
		margin: 0;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
	}

	ul#mainnav > li > ul li a {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	color: #8b8b8b;
	text-transform: uppercase;
	}

	ul#mainnav > li > ul li > ul li a {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
	}

	ul#mainnav li a.expand-btn {
		position: absolute;
		display: block;
		padding: 0;
		margin: 0;
		right: 10px;
		top: 8px;
		background-image: url('/SiteFiles/1550/CSS/images/mobile-menu-expand.png');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 50% 50%;
		width: 30px;
		height: 30px;
		cursor: pointer;
	}

	ul#mainnav li ul {
		position: relative;
		display: none;
		width: 100%;
		padding: 0;
		margin: 0 auto;
	}

	#mainnav > li > ul > li ul {
		position: relative;
		top: auto;
		left: auto;
		width: 100%;
	}

	ul#mainnav li:hover ul,
	ul#mainnav li:hover ul li ul {
		display: none;
	}

	#mainnav > li > a:hover:after, #mainnav > li:hover > a:after {
		background-image: none;
	}

	ul#mainnav ul {
		display: none;
	}

	ul#mainnav li ul.active {
		display: block;
	}

	ul#mainnav li ul li ul.active {
		display: block;
	}
	ul#mainnav li a.expand-btn.active {
		background-image: url('/SiteFiles/1550/CSS/images/mobile-menu-collapse.png');
	}
	ul#mainnav > li > ul li {
		padding: 0;
		height: auto;
		width: 100%;
	}

	#productsearchfield {
		-webkit-appearance:none!important;
		border-radius: 0!important;;
	}

	#productsearchbutton {
		-webkit-appearance:none!important;
		border-radius: 0!important;;
	}

	.products-pager {
		text-align: center;
	}

	#home-main {
		padding: 25px 0;
	}

	#home-window {
		background: url('/assets/1550/home_window_bg.jpg') no-repeat center center;
		min-height: 300px;
		background-attachment: inherit!important;
		padding: 20% 0;
		text-align: center;
	}

	div.upcoming-events-wrapper ul li {
		border-right: none!important;
	}


}

@media screen and (max-width: 725px) {
	ul.mainmenu > li > a {
	font-size:20px!important;
	}
}

@media screen and (max-width: 680px) {
	.mainmenu {
		display:none!important;
	}
	.col-xs-12.col-sm-10.col-md-10 h1 {
		font-size:19px!important;
	}
	.col-xs-12.col-sm-10.col-md-10 p {
		font-size:14px!important;
	}
}

@media screen and (max-width: 630px) {


	h1.special {
		font-size:17px!important;
	}
}

@media screen and (max-width: 550px) {

	#default-main {
	margin-top:0px!important;
	padding:0px!important;
	}


	#header {
		position: relative;
	}

	.navbar {
		margin-bottom: 0px;
	}

	ul.utility-nav {
		text-align: center!important;
	}

	ul.utility-social {
		text-align: center!important;
	}

	#headerUtility {
		margin: 0px;
		padding-top: 15px;
	}

	#headerUtility ul li {
		margin-right: 5px;
	}

	ul.utility-social {
		text-align: right;
	}

	div.searchPanel {
		text-align: center;
		margin-top: 10px;
	}

	#productsearchfield {
		-webkit-appearance:none;
		border-radius: 0;
	}

	#productsearchbutton {
		-webkit-appearance:none;
		border-radius: 0;
	}

	a.navbar-brand img {
		width: 65%;
	}

	#mainnav {
		text-align: left;
		width: 100%;
		margin: 0;
	}

	#mainnav li {
		display: block;
		text-align: left;
		float: none;
		padding: 5px 5px 5px 15px;
		border-bottom: 1px solid #ccc;
	}

	#mainnav li > ul {
		display: none;
	}

	#home-main {
		padding: 0;
	}

	#home-top {
		height: 175px;
		margin-top: 0;
	}

	#home-window {
		background-attachment: initial!important;
		padding: 25% 5%;
		background-position: center center;
	}

	div.upcoming-events-wrapper ul li {
		margin-bottom: 12%;
		max-height: none;
		border: none;
	}

	.trunk-show-2 {
		border-right: 0px!important;
		border-left: 0px!important;
		margin: 20px 0;
	}

	#default-main {
		padding: 75px 0;
		margin-top: 0px;
	}

	.modal {
		top: 15%;
		left: 0;
		z-index: 9999;
	}

	footer {
		padding: 20px 10px;
	}

	.product-list-item {
		width: 50%;
	}

	#product-detail-photos {
		width: 100%!important;
	}

	#product-detail-information-container {
		width: 100%!important;
		padding: 20px 0 0 0;
	}

	#product-detail-related-products .product-list-item-image, #product-detail-related-products .product-list-item-image img {
		width: 100%;
		height: auto;
	}

	.blogTags a {
		display: block;
		margin-top: 5px;
	}

	.blog-entry img {
		width: 100%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 500px) {

	h1.special {
		font-size:14px!important;
	}

	#sbi_load {
		display:none;
	}
}

@media screen and (max-width: 450px) {

	h1.special {
		font-size:12px!important;
	}
}

@media screen and (max-width: 414px) {

	.utility-social li:last-child {
		margin-left:0px;
	}
}

@media screen and (max-width: 380px) {

	h1.special {
		font-size:10px!important;
	}
}

@media only screen and (min-device-width : 1024px) and (max-device-width : 768px) and (orientation : landscape) {
	#home-window {
		background: url('/assets/1550/home_window_bg.jpg') no-repeat center center;
		min-height: 300px;
		background-size: cover!important;
		background-attachment: inherit!important;
		padding: 20% 0;
		text-align: center;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
	#header {
		position: relative;
	}

	#headerUtility {
		margin: 5px 0;
	}

	#headerUtility ul.utility-nav {
		width: 45%!important;
	}

	#headerUtility ul.utility-social {
		width: 20%!important;
	}

	.searchPanel {
		width: 35%!important;
	}

	#productsearchfield {
		-webkit-appearance:none!important;
		border-radius: 0!important;
		width: 65%!important;
	}

	#productsearchbutton {
		-webkit-appearance:none!important;
		border-radius: 0!important;
	}

	ul#mainnav {
		max-height: 200px;
		overflow: scroll;
	}
}


/* Cleaned by Fadi Nicolas Zahhar */
ul.product-list.twoColumns > div.row {
  margin-left:-3px;
  margin-right:-3px;
}
ul.product-list.twoColumns > div.row > li {
  padding:3px;
}
footer p {
  color:#828282;
}
